body{
    background-color: #FAE3BD;
}
h1{
    text-align: center;
    font-family: poppins;
}
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.projects .project-card{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
}
.projects .project-card img{
    width: 300px;
    border-radius: 7px;
}
.projects .project-card button{
    padding: 10px 10px;
    background-color: #C64C45;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.projects .project-card button a{
    color: aliceblue;
    text-decoration: none;
}